body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
}

h1 {
    color: #2F4F4F;
    font-size: 35px;
    font-weight: normal;
}

h2 {
    color: #2F4F4F;
    font-size: 30px;
    font-weight: normal;
}

h3 {
    color: #2F4F4F;
    font-size: 20px;
    font-weight: normal;
}

select, button {
    font-size: 15px;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
}

/* RETAIL HOME */ 
.bigImg1{
    min-height: 100vh;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*
    -webkit-clip-path: polygon(0 0, 0 100vh, 100% 0);
    
    clip-path: polygon(0 0, 0 100vh, 100% 0); 
    z-index: 0;
    */
/*    background: #d6d6d6;
    opacity: 0;*/
    
    /*background-repeat: no-repeat;*/
    
}

.logo {
    text-align: center;
}

.logo img{
    margin-top: 20vh;
    display: inline-block;
    filter: invert(100%);
    width: 80%;
    text-align: center;
}


.caption{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span{
    background-color: #212121;
    color: #fff;
    width: 100%;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 70px;
}
.detail-contact {
    padding: 0; 
    overflow: hidden;
}

.over1{
    color: #777;
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    min-height: 300px;
    display: block;
}
.over1Left{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.over1Right{
    width: 100%;
    display: inline-block;
    vertical-align: top; 
    text-align: left;  
}
.bigImg2{
    min-height: 100vh;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.over2{
    width: calc(100% - 40px);
    color: #777;
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    display: block;
    min-height: 150px;
}

.over2 a {
    text-decoration: none;
    color: #212121;
    display: inline-block;
}

.products{
    width: 225px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    height: auto;
    padding: 15px;
    background-color: #e3e3e3;
}

.products:hover {
    background-color: #d7d7d7;
}

.bigImg3{
    min-height: 100vh;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-color: #212121; 
    overflow: hidden;
    height: auto;
    display: block;
    width: 100%; 
    font-size: 14px;
}

.footer p {
    padding: 0 10px;
}

.footLeft, .footRight{ 
    display: block;
    width: 100%;
    min-height: 120px;
    text-align: center;
    color: #777;
}
.footer h1{
    text-align: center;
    color: #777;
    line-height: 30px;
    font-size: 28px;
}
.products img{
    width: 100%;
    border: 1px solid #777;
}
.products h3{
    text-align: center;
}

/* PRODUCTS PAGE  */

.navigate{
    background-color: #212121;
    height: auto;
}

.navigate ul{   
    list-style: none;
    line-height: 35px;
    padding: 20px 20px;
    margin: 0;
}
.navigate li{
    display: inline-block;
    margin: 0;
    width: 100%;
}
.navigate li > a {
    color: #AFAFAF;
    text-decoration: none;
    font-size: 14px;
}

.bigImgProducts{
    background-size: cover;
    min-height: 50vh;
    
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    
    
}
.over1B{
    color: #212121;
    background-color: #fff;
    
    padding: 50px 0;
    height: auto;
    text-align: left;
    display: block;
    width: 100%;

  
}
.itemsWrap{
    display: block;
    height: auto;
    margin: 0 auto 20px auto;
    max-width: 1000px;
    text-align: center;
}

.itemsWrap > p {
    padding-left: 15px;
    padding-right: 15px;
}

.item-wrapper {
    display: inline-block;
    width: 130px;
    padding: 20px 10px;
    background-color: #e3e3e3;
    margin: 10px 5px;
    vertical-align: top;
}

.item-wrapper-details {
    max-width: 150px;
}

.item-wrapper > h3 {
    font-weight: normal;
    font-size: 17px;
}
.items{
    width: 100%;
    height: auto;
}

.items > img {
    max-width: 100%;

}

.captionProducts{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.captionProducts span{
    background-color: #212121;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 55px;
}

/* DETAILS PAGE */

.detailWrap{
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
}
.detailLeft{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.detailLeft > img {
    max-width: 100%;
}

#navBtns a{
	padding-right: 8px;
}
.detailRight{
    display: inline-block;
    padding: 10px 15px;
    width: calc(100% - 30px);
}
.btn-group{
    display: flex;
}
.colours{
    display: block;
}

.you-may-like {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.itemColour{
    width:  70px;
    height: 70px;
    display: inline-block;
    color: red;
    margin: 10px 10px;
    border: 1px solid #AFAFAF;
}

@media only screen and (min-width : 768px) {
    .logo img {
        width: 50%;
        max-width: 450px;
    }

    .navigate{
        height: 50px;
    }

    .navigate ul{   
        line-height: 50px;
        padding: 0 0 0 10px;
    }

    .navigate li{
        width: auto;
        padding: 0 10px 0 10px;
    }

    .caption span {
        width: auto;
        -webkit-clip-path: polygon(0 0, 0 100vh, 100% 0);  
        clip-path: polygon(0 0, 0 100vh, 100% 0); 
    }

    .detailLeft{
        width: 50%;
    }

    .detailRight{
        vertical-align: top;
        width: calc(49% - 30px);
    }

    .over1 {
        padding: 50px 80px;
    }

    .item-wrapper {
        width: 210px;
    }

    .item-wrapper h3 {
        font-size: 20px;
    }

    .item-wrapper-details h3 {
        font-size: 17px;
    }

    .item-wrapper:hover {
        background-color: #d7d7d7;
    }

    .over1Left{
        width: 49%;
    }

    .over1Right{
        width: 49%;
    }

    .footLeft, .footRight {
        width: 50%;
    }

    .footLeft {
        float: left;
    }

    .footRight {
        float: right;      
    }

    .navigate li:hover {
        background-color: #000;
    }

}