body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
}

h1 {
    color: #2F4F4F;
    font-size: 30px;
    font-weight: normal;
}

h2 {
    color: #2F4F4F;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

p {
    font-size: 15px;
}

.bodyWrap{
    width: 100%;
}

.header{
    vertical-align: top;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #212121;
}

.header > img {
    display: none;
}

.header p {
    color: #777;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 30px;
}

.header ul{
    list-style: none;
    padding: 0;
}
.header li{
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 180%;
}

.header li > a {
    text-decoration: none;
    color: #AFAFAF;
    font-size: 14px;
}

.body{
    vertical-align: top;
    width: calc(100% - 30px);
    display: inline-block;
    background-color: #FFFFFF;
    padding: 15px;
}
.infoimg{
    margin-bottom: 20px;
}

.infoimg > img {
    width: 100%;
}

.description {
    padding: 0 0 10px 0;
}

.items{
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #e3e3e3;
    padding: 10px;
}

.items > a {
    text-decoration: none;
    color: #111111;
}

.items > a:hover > .itemsDescription > h2 {
    text-decoration: underline;
}

.itemsPhoto{
    display: block;
    float: left;
    background-image: url('images/T2.jpg');
    
}

.itemsPhoto > img {
    width: 100%;
}

.itemsDescription{
    display: block;
    float: left;
    width: 100%;
}
.items#ts{
    
}
.items#hats{
    
}
.items#sweats{
    
}
.items#others{
    
}
.Wfooter{
    display: block;
    padding: 0 15px;
    background-color: #212121;
    color: #777;
    overflow: hidden;
    text-align: center;
}

.Wfooter p {
    font-size: 13px;
}

.Wfooter img {
    max-width: 150px;
}

/*.WfooterLogo{
    width: 200px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.WfooterLogo > img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}*/

.WfooterDetails{
    width: calc(100% - 260px);
    display: inline-block;
}

/* DETAILS */

.details1{
    vertical-align: top;
    display: inline-block;
    
}
.details1 img{
    width: calc(50% - 20px);
    padding-right: 20px;
}
.details2{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding-left: 15px;
}
.details2 ul{
    list-style: none;
    padding: 0;
}

.details {
    padding: 15px;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 30px);
    background-color: #FFFFFF;
}

.details img {
    width: 100%;
}

.cols{
    width: 100px;
    height: 100px;
    border: 1px solid #d7d7d7;
    margin: 5px;
    float: left;   
}
.availableColours{
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

@media only screen and (min-width : 480px) {
    .itemsPhoto > img {
        max-width: 170px;
    }

    .itemsDescription {
        width: calc(100% - 191px);
        margin-left: 20px;
    }
}

@media only screen and (min-width : 600px) {
    .details1{
        width: calc(50% - 20px);
    }

    .details2{
        width: 50%;
    }
}

@media only screen and (min-width : 768px) {
    .header {
        width: 200px;
        padding: 0;
        margin: 0;
    }

    .header > img {
        width: 100%;
        display: block;
    }

    .body {
        width: calc(100% - 235px);
    }

    .details {
        width: calc(100% - 250px);
    }

    .infoimg > img {
        width: 100%;
    }

    .header li:hover {
        font-weight: normal;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 180%;
        background-color: #2F4F4F;
    }

    .Wfooter img {
        display: none;
    }
}