/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Dec-2016, 13:44:22
    Author     : lilpoisson
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.bodyWrap{
    width: 100%;
    display: flex;
    
}

.header{
    width: 15%;
   height: 100vh;
    padding-right: 10px;
}

.header > img {
    width: 100%;
}

.header ul{
    list-style: none;
    padding: 10px 20px;
}
.header li{
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
}

.header li > a {
    text-decoration: none;
    color: #111111;
}

.header li > a:hover {
    color: #2F4F4F;
}

.body{
    width: 100%;
    display: flex;
    
    flex-direction: column;
}
.infoimg{
    margin-bottom: 20px;
}

.infoimg > img {
    width: 100%;
}

.items{
    display: flex;
    
    height: 300px;
    margin-bottom: 10px;
}
.itemsPhoto{
    width: 20%;
    border-right: 1px black solid;
    border: 2px black solid;
    background-image: url('images/T2.jpg');
    
}
.itemsDescription{
    width: 80%;
    margin-left: 20px;
    border: 2px black solid;
}
.items#ts{
    
}
.items#hats{
    
}
.items#sweats{
    
}
.items#others{
    
}
.Wfooter{
    display: flex;
    height:     300px;
    
    
   
}
.WfooterLogo{
    width: 50%;
    background-image: url('images/callblue.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 20px;
    
}
.WfooterDetails{
    width: 50%;
}

/* DETAILS */

.details1{
    width: 30%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
   
}
.details1 img{
    width: 80%
}
.details2{
    width: 40%;
    margin-top: 80px;
}
.details2 ul{
    list-style: none;
}
.cols{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    
}
.availableColours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}