body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2F4F4F;
    font-size: 30px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

.bodyWrap{
    width: 100%;
}

.header{
    vertical-align: top;
    width: 200px;
    display: inline-block;
    padding-right: 10px;
}

.header > img {
    width: 100%;
}

.header ul{
    list-style: none;
    padding: 10px 20px;
}
.header li{
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
}

.header li > a {
    text-decoration: none;
    color: #111111;
}

.header li > a:hover {
    color: #2F4F4F;
}

.body{
    vertical-align: top;
    width: calc(100% - 215px);
    display: inline-block;
}
.infoimg{
    margin-bottom: 20px;
}

.infoimg > img {
    width: 100%;
}

.items{
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.itemsPhoto{
    display: block;
    float: left;
    background-image: url('images/T2.jpg');
    
}

.itemsPhoto > img {
    max-width: 170px;
}

.itemsDescription{
    display: block;
    float: left;
    width: calc(100% - 191px);
    margin-left: 20px;
}
.items#ts{
    
}
.items#hats{
    
}
.items#sweats{
    
}
.items#others{
    
}
.Wfooter{
    display: block;
    margin-top: 30px;
    border-top: 1px solid #AFAFAF;
}
.WfooterLogo{
    width: 200px;
    margin-right: 20px;
    padding: 20px 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.WfooterLogo > img{
    width: 100%;
}

.WfooterDetails{
    width: calc(100% - 260px);
    display: inline-block;
}

/* DETAILS */

.details1{
    vertical-align: top;
    display: inline-block;
    width: calc((100% - 220px) / 2);
}
.details1 img{
    width: calc(100% - 20px);
    padding-right: 20px;
}
.details2{
    vertical-align: top;
    display: inline-block;
    width: calc((100% - 220px) / 2);
}
.details2 ul{
    list-style: none;
    padding: 0;
}
.cols{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    float: left;   
}
.availableColours{
    padding: 0;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}